@import url(reset.css);

body {
  background-color: #eee;
  font-size: 1.6rem;
  font-family: Nanum Square R, sans-serif;
  padding-top: 17rem;
  color: #333;
}

/* ////////// Header ///////// */

header {
  width: 100%;
  height: 17rem;
  background: #7B6965;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  overflow: hidden;
}
.nav_top1 {
  display: flex;
  justify-content: left;
  height: 8rem;
}
.nav_top1 .mob_btn {
  display: block;
  width: 2.8rem;
  height: 1.8rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav_top1 .mob_btn span {
  display: block;
  width: 100%;
  height: 0.3rem;
  border-radius: 20px;
  background-color: #fff;
  text-indent: -9999px;
  position: absolute;
  transition: 0.3s;
}
.nav_top1 .mob_btn span:nth-child(1) {top: 0;}
.nav_top1 .mob_btn span:nth-child(2) {top: 50%;}
.nav_top1 .mob_btn span:nth-child(3) {top: 100%;}
.nav_top1 .top_logo {
	position: absolute;
  top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}
.nav_top1 .top_logo img{width: 20rem;}
.nav_top2 {
  width: 80rem;
  height: 5rem;
  margin-top: 1rem;
}
.nav_top2 ul {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_top2 ul>li {flex: 1;}
.nav_top2 ul>li>a {
  font-family: GmS_M, sans-serif;
	font-size: 2rem;
	color: #fff;
	/* letter-spacing:-0.1rem; */
	/* font-weight:500; */
}
.nav_top2 ul>li>a:hover {color: #FFDBD3;}

.gnb {display: none;}

/* _______Swiper 공통 */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ////////// Main ///////// */
/* _______Main Visual */



/* ////////// section0 ///////// */
#section0 {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  text-align: center;
  position: relative;
}
#section0 ul {
  margin-top: 15rem;
  font-family: Nanum Square B, sans-serif;
}
#section0 ul>li {
  font-size: 2.6rem;
  color: #FFDBD3;
  line-height: 4rem;
}
#section0 ul li+li {font-size: 2rem;}
#section0 p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 5rem;
}
#section0 img:first-of-type{
  position: absolute;
  top: 67%;
  left: 28%;
  animation: rotate-ani 8s infinite linear;
  transform-origin: 50% 50%;
}
#section0 img:last-of-type {
  width: 15rem;
  position: absolute;
  bottom: 0;
  right: 20%;
}
@keyframes rotate-ani {
  100% {
    transform: rotate(360deg);
  }
}

/* ////////// section1 ///////// */
#section1 {
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section1 ul {font-family: Nanum Square B, sans-serif;}
#section1 ul li:first-child {
  font-size: 3rem;
  color: #33ADB6;
  line-height: 4rem;
}
#section1 ul li+li {
  font-size: 2rem;
  }

#section1 .mySwiper2 {
  overflow: hidden;
  /* width: 50rem; */
  width: 100%;
  height: 41rem;
  margin-top: 10rem;
}
/* #section1 .mySwiper2 .swiper-wrapper{
  border: 1px solid blue;
  width: 30rem;
  height: 40rem;
} */
/* .mySwiper2 .swiper-slide {
  width: 30rem;
  height: 40rem;
} */
#section1 .mySwiper2 .swiper-wrapper img{
  width: 30rem;
  height: 40rem;
  box-shadow: 2px 2px 5px #7B6965;
  border-radius: 20px;
}